{% set title = 'new.codification' %}

{% extends 'modal/xl_modal.html.twig' %}

{% block modal_body %}
	{% for case in enum("App\\Entity\\Enum\\CodificationTypeEnum").cases() %}
		<div class="row justify-content-center">
			<a class="col-md-6 btn btn-primary btn-lg py-3 mt-3"
				href="{{ path('codificationNew', {'project': project.id, 'type': case.value }) }}"
				data-turbo-frame="xl_modal"
				data-turbo-stream-replace="fs_modal"
				{{ stimulus_target('modal', 'close') }}>
				{{ case|to_string }}
			</a>
		</div>
	{% endfor %}
{% endblock %}