<turbo-frame id="fs_modal" class="modal" tabindex="-1" aria-labelledby="fs_modal_label" aria-hidden="true" {{ stimulus_controller('modal') }}>
	<div class="modal-dialog modal-fullscreen modal-dialog-scrollable">
		<div class="modal-content">
			{% if title is defined %}
				<div class="modal-header">
					<h5 class="modal-title" id="fs_modal_label">{{ title|trans }}</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="{% trans %}Close{% endtrans %}"></button>
				</div>
			{% endif %}	
			{% if block('modal_body') is defined %}
				<div class="modal-body">
					{{ block('modal_body') }}
				</div>
			{% endif %}
			<div class="modal-footer justify-content-center">
				{% if block('modal_footer') is defined %}
					{{ block('modal_footer') }}
				{% else %}
					<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{% trans %}Close{% endtrans %}</button>
				{% endif %}
			</div>
		</div>
	</div>
</turbo-frame>