<turbo-frame id="xl_modal"{% if src is defined %} src="{{ src }}"{% endif %}>
	<div class="modal fade" tabindex="-1" aria-labelledby="xl_modal_label" aria-hidden="true" {{ stimulus_controller('modal') }}>
		<div class="modal-dialog modal-xl">
			<div class="modal-content h-100">
				{% if title is defined %}
					<div class="modal-header">
						<h5 class="modal-title" id="xl_modal_label">{{ title|trans }}</h5>
						<button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="{% trans %}Close{% endtrans %}"></button>
					</div>
				{% endif %}
				<div class="modal-body h-100">
					{% block modal_body %}
					{% endblock %}
				</div>
				<div class="modal-footer justify-content-center">
					{% block modal_footer %}
						<button type="button" class="btn btn-dismiss btn-width" data-bs-dismiss="modal">{% trans %}Close{% endtrans %}</button>
					{% endblock %}
				</div>
			</div>
		</div>
	</div>
</turbo-frame>