<nav class="nav nav-tabs" role="tablist" {{ stimulus_controller('nav') }}>
	<button type="button" class="nav-link active btn-width" id="view_label" data-bs-toggle="tab" data-bs-target="#view_pannel" role="tab" aria-controls="view_pannel" aria-selected="true">
		View
	</button>
	<button type="button" class="nav-link disabled btn-width" id="serie_label" data-bs-toggle="tab" data-bs-target="#serie_pannel" role="tab" aria-controls="serie_pannel" aria-selected="none">
		Series
	</button>
	<button type="button" class="nav-link btn-width" id="progress_label" data-bs-toggle="tab" data-bs-target="#progress_pannel" role="tab" aria-controls="progress_pannel" aria-selected="none">
		Progress
	</button>
</nav>
<div class="tab-content nav-container" {{ stimulus_target('engineering--main', 'navContainer') }}>
	<turbo-frame class="tab-pane fade show active" id="view_pannel" role="tabpanel" aria-labelledby="view_label"
		src="{{ path('view', {'project': project.id}|merge(app.request.query.all)) }}">
		
	</turbo-frame>
	<turbo-frame class="tab-pane fade" id="serie_pannel" role="tabpanel" aria-labelledby="serie_label"{% if display_serie_select is same as(false) and display_serie_new is same as (false) %} 
		src="{{ path('serie', {'project': project.id}|merge(app.request.query.all)) }}"{% endif %}>

	</turbo-frame>
	<turbo-frame class="tab-pane fade" id="progress_pannel" role="tabpanel" aria-labelledby="progress_label">

	</turbo-frame>
</div>