{% set title = 'edit.' ~ form.vars.value|short_name %}

{% extends 'modal/xl_modal.html.twig' %}

{% block modal_body %}
	
	{{ form(form) }}
	
{% endblock %}

{% block modal_footer %}
	
	<button type="button" class="btn btn-secondary btn-width" data-bs-dismiss="modal">{% trans %}Cancel{% endtrans %}</button>
	<button type="submit" form="form" class="btn btn-primary btn-width">{% trans %}Save{% endtrans %}</button>

{% endblock %}