{% set title = 'new.' ~ form.vars.value|short_name %}

{% extends 'modal/xl_modal.html.twig' %}

{% form_theme form 'form/layout.html.twig' %}

{% block modal_body %}
	{{ encore_entry_link_tags('form') }}
	
	{% if app.request.headers.has('Turbo-Stream-Replace') is same as (true) %}
		{{ form(form, {'attr': {'data-turbo-stream-replace': app.request.headers.get('Turbo-Stream-Replace') }}) }}
	{% else %}
		{{ form(form) }}
	{% endif %}

{% endblock %}

{% block modal_footer %}
	
	<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{% trans %}Cancel{% endtrans %}</button>
	<button type="submit" form="form" class="btn btn-primary">{% trans %}Save{% endtrans %}</button>

{% endblock %}