<turbo-stream action="update" target="footer">
	<template>
		{% include "generic/_footer.html.twig" %}
	</template>
</turbo-stream>
{% if redirect is defined and app.request.headers.has('Turbo-Stream-Replace') is same as(true) %}
	<turbo-stream action="replace" target="{{ app.request.headers.get('Turbo-Stream-Replace') }}">
		<template>
			<turbo-frame id="{{ app.request.headers.get('Turbo-Stream-Replace') }}" src="{{ redirect }}">
				{# if case of a refresh of fs_modal, display an empty modal while loading to keep the background hidden #}
				{% if app.request.headers.get('Turbo-Stream-Replace') == 'fs_modal' %}
					<div class="modal show" tabindex="-1" aria-labelledby="fs_modal_label" style="display: block;" aria-modal="true" role="dialog" {{ stimulus_controller('modal') }}>
						<div class="modal-dialog modal-fullscreen modal-dialog-scrollable">
							<div class="modal-content">
							</div>
						</div>
					</div>
				{% endif %}
			</turbo-frame>
		</template>
	</turbo-stream>
{% endif %}
