<div class="row justify-content-md-center">
	<button type="button" class="btn btn-primary w-25 m-1" data-toggle="ajax" data-url="{{ path('program_preload', {'program': program.id}) }}" data-target="#output">Nouvel import</button>
</div>

<div class="card mt-5">
	<div class="card-body">
		<h5 class="card-title">Operation terminée !</h5>
	</div>
</div>