{% set title = 'new.metadata' %}

{% extends 'modal/xl_modal.html.twig' %}

{% block modal_body %}
	{% for key, value in enum_readable_values('metadata_type_enum') %}
		<div class="row justify-content-center">
			<a class="col-md-6 btn btn-primary btn-lg py-3 mt-3"
				href="{{ path('metadataNew', {'project': project.id, 'type': key }) }}"
				data-turbo-frame="xl_modal"
				data-turbo-stream-replace="fs_modal"
				{{ stimulus_target('modal', 'close') }}>
				{{ value }}
			</a>
		</div>
	{% endfor %}
{% endblock %}