html, body {
	height:calc(100% - 36px);
}

body > .container-fluid {
	min-height:100%;
	height:100%;
}

main {
	min-height:100%;
	height:100%;
}

#content {
	min-height:100%;
	height:100%;
	margin: 0 !important;
}

#table th {
	text-align: center; /* IE */
}

#table div {
	writing-mode: vertical-lr; /* FF */
	-webkit-writing-mode: vertical-lr; /* Chrome */
	-ms-writing-mode: vertical-lr;
	text-orientation: sideways-right; /* FF */
	-moz-transform: rotate(180deg);  /* FF3.5+ */
	-o-transform: rotate(180deg);  /* Opera 10.5 */
	-webkit-transform: rotate(180deg);  /* FF, Saf3.1+, Chrome */
	position: relative;
	min-width: 3rem;
	vertical-align: top;
}


#table td {
	text-align: right;
}

#chart_container {
	position: relative;
	top: 2rem;
	margin: auto;
	width: 90vw;
}