//@import "~bootstrap-select/dist/css/bootstrap-select.min.css";

table {
	/*table-layout: fixed;*/
	font-size: 80%;
	font-weight: 400;
}

th {
    position: sticky;
    top: 0;
    padding-left: 0 !important;
    padding-right: 0 !important;
    border: 0 !important;
}

td {
	overflow: hidden;
	white-space: nowrap !important;
	border: none;
}

.type-reference {
	text-align: center;
}

.type-boolean {
	text-align: center;
	max-width: 2em;
}

.type-text {
	text-align: left;
	max-width:10em;
	text-overflow: ellipsis;
}

.type-date {
	text-align: center;
	max-width:6em;
}

.type-integer {
	text-align: center;
	max-width:4em;
}

.text-float {
	text-align: right;
	max-width:4em;
}

.type-link {
	text-align: center;
	max-width:5em;
}

#page {
	position: relative;
	z-index: -1;
}

#review {
	height: 8em;
}

.review-container {
	height: 4em;
	padding-left:1em;
}

.modal-content {
	height: 75vh;
}

.modal-body {
	height: 100%;
	overflow: hidden;
}

.modal-body > div:first-child {
	height: inherit;
}

#menu {
	width:200px;
	height: inherit;
	overflow-y: auto;
}

#version {
	height: inherit;
	overflow-y: auto;
}