// customize some Bootstrap variables
$enable-responsive-font-sizes: true;

// the ~ allows you to reference things in node_modules
@import "~bootswatch/dist/slate/variables";
@import "~bootstrap/scss/bootstrap";
@import "~bootswatch/dist/slate/bootswatch";
@import "~bootstrap-datepicker/dist/css/bootstrap-datepicker.css";




select {
	text-overflow: ellipsis;
}

.custom-file-label-sm {
	height: $input-height-sm;
	padding: $input-padding-y-sm $custom-file-padding-x;
	
	&::after {
		height: $input-height-sm;
		padding: $input-padding-y-sm $custom-file-padding-x;
	}
}

.datepicker {
	width: 10rem;
	z-index: $zindex-popover !important;
}

.datepicker table {
	font-size: 80%;
	font-weight: 400;
}

.toast {
	width: 400px;
}

.toast-body {
	white-space: pre-line;
}

.datepicker th {
	border-radius: unset;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
}

/* Sub-menus */

.navbar-nav li:hover > ul.dropdown-menu {
	display: block;
}

.dropdown-submenu {
	position:relative;
}

.dropdown-submenu>.dropdown-menu {
	top:0;
	left:100%;
	margin-top:-6px;
}

:export {
	zindexTooltip: $zindex-tooltip;
}

/* Legend */

.legend {
	
	& ul, li, span, p {
		margin: 0;
		padding: 0;
	}
	
	& ul {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		-webkit-box-pack: center;
		-ms-flex-pack: center;
	}
	
	& li {
	/* 	align-items: center; */
		cursor: pointer;
		display: flex;
		flex-direction: row;
		width: 10rem;
		margin-bottom: 0.2rem;
	}

	& span {
		display: inline-block;
		height: 1rem;
		width: 1rem;
		margin-right: 0.5rem;
	}

	& p {
		color: white;
		font-size: $small-font-size;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}
}