// customize some Bootstrap variables
$enable-responsive-font-sizes: true;

// the ~ allows you to reference things in node_modules
@import "~bootswatch/dist/slate/variables";
@import "~bootstrap/scss/bootstrap";
@import "~bootswatch/dist/slate/bootswatch";
@import "~bootstrap-datepicker/dist/css/bootstrap-datepicker.css";


.nav-tabs {
	.nav-link {
		@include btn-shadow($gray-800);
		border: 1px solid rgba(0, 0, 0, 0.6);
		
		&:not([disabled]):not(.disabled):hover,
		&:not([disabled]):not(.disabled):focus,
		&:not([disabled]):not(.disabled):active,
		&:not([disabled]):not(.disabled).active {
			@include btn-shadow-inverse($gray-800);
		}
	
		&.disabled {
		  border: 1px solid rgba(0, 0, 0, 0.6);
		}
	}
}

a {
	cursor: pointer;
}

.custom-file-label-sm {
	height: $input-height-sm;
	padding: $input-padding-y-sm $custom-file-padding-x;
	
	&::after {
		height: $input-height-sm;
		padding: $input-padding-y-sm $custom-file-padding-x;
	}
}

.datepicker {
	width: 10rem;
}