@import "~bootswatch/dist/slate/variables";
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/utilities";
@import "~bootstrap/scss/utilities/api";
@import "~bootstrap/scss/helpers";
@import "~bootstrap/scss/modal";
@import "~bootstrap/scss/bootstrap";
@import "~bootswatch/dist/slate/bootswatch";

// --------------------
// General
// --------------------

$btn-padding-x: 0.5rem;

html, body {
	height: 100%;
	min-height: 100%;
	overflow: hidden;
}

small {
	display: block;
    font-size: $font-size-base * .7;
}

button:focus {
    box-shadow: none !important;
}

a, button {
	cursor: pointer;
	@extend .text-truncate;
}

a {
	&.btn-success,
	&.btn-danger {
		width: 6rem;
	}
}

.form-check-input:checked {
	background-color: $gray-900;
	border-color: $gray-900;
}

// --------------------
// Navs
// --------------------

.nav-tabs {
	@extend #{'.mt-3', '.mx-3'};
	margin-bottom: -$nav-tabs-border-width;
}

.nav-tabs {
	.nav-link {
		@include btn-shadow($gray-800);
		border: 1px solid rgba(0, 0, 0, 0.6);
		
		&:not([disabled]):not(.disabled):hover,
		&:not([disabled]):not(.disabled):focus,
		&:not([disabled]):not(.disabled):active,
		&:not([disabled]):not(.disabled).active {
			@include btn-shadow-inverse($gray-800);
		}
	
		&.disabled {
		  border: 1px solid rgba(0, 0, 0, 0.6);
		}
	}
}

.tab-content {
	@extend #{'.d-flex', '.flex-column'};
	@extend #{'.mx-3', '.mb-3'};
	@extend #{'.py-3', '.px-2'};
	border-left: $nav-tabs-border-width solid $nav-tabs-border-color;
	border-right: $nav-tabs-border-width solid $nav-tabs-border-color;
	border-bottom: $nav-tabs-border-width solid $nav-tabs-border-color;
	@include border-bottom-radius($border-radius);
}

// --------------------
// Button
// --------------------

.btn-width {
	width: 10rem;
	&.btn-group > .btn {
		@extend .text-truncate;
	}
}

// --------------------
// Dropdowns
// --------------------

.dropdown-item {
	&:not([disabled]):not(.disabled):hover,
	&:not([disabled]):not(.disabled):focus,
	&:not([disabled]):not(.disabled):active,
	&:not([disabled]):not(.disabled).active {
		overflow: visible;
	}
}

// --------------------
// Cards
// --------------------

.card-width {
	@extend #{'.bg-primary', '.mb-3', '.text-white'};
	width: 18rem;
}

.card-header {
	@extend #{'.card-header', '.fw-bold', '.text-center'};
	// @include btn-shadow($gray-800);
}

.card-body {
	padding: 0.75rem 0.75rem;
}

// --------------------
// Modal
// --------------------

.modal-fs {
	@extend #{'.modal-fullscreen', '.modal-dialog-scrollable'};
}

.modal-xl {
	@extend .modal-dialog-scrollable;
	@include media-breakpoint-up(xl) {
		max-width: $modal-xl;
	}
	@include media-breakpoint-down(xl) {
		margin: $modal-dialog-margin;
		max-width: none;
	}
}

.modal-md {
	@extend .modal-dialog-scrollable;
	@include media-breakpoint-up(md) {
		max-width: $modal-md;
	}
	@include media-breakpoint-down(md) {
		margin: $modal-dialog-margin;
		max-width: none;
	}
}

.modal-footer .btn {

	min-width: 10rem;

	/*@include media-breakpoint-up(xl) {
		@include make-col(2);
	}
	@include media-breakpoint-between(md, xl) {
		@include make-col(4);
	}
	@include media-breakpoint-down(md) {
		@include make-col(5);
	}*/
}

// --------------------
// Errors
// --------------------

.trace-code {
	background: #2e3136;
	font-size: 12px;
	margin: 10px 10px 2px 10px;
	padding: 10px;
	overflow-x: auto;
	white-space: nowrap;
}

.trace-code li code {
    color: #f5f5f5;
    white-space: nowrap;
}
code, pre {
    font: 13px/1.5 Consolas, Monaco, Menlo, "Ubuntu Mono", "Liberation Mono", monospace;
}

.trace-code li.selected {
    background: #71663acc;
    margin-top: 2px;
}

.card-title a {
	color: var(--bs-body-color);
}
