@import "~bootswatch/dist/slate/variables";
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/utilities";
@import "~bootstrap/scss/utilities/api";
@import "~bootswatch/dist/slate/bootswatch";

// html, body {
// 	height:calc(100% - 36px);
// }

// body > .container-fluid {
// 	min-height:100%;
// 	height:100%;
// }

// main {
// 	min-height:100%;
// 	height:100%;
// }

// #content {
// 	min-height:100%;
// 	height:100%;
// 	margin: 0 !important;

// 	&>div {
// 		display: flex;
// 		flex-direction: row;
// 		flex: 1;
// 		width: 100%
// 	}
// }

.modal-dialog-scrollable > div {
	height: 100%;
}

.form-group {
	@extend .mt-3;
}

.modal-body > ul {
	position: sticky;
	top: calc(-1 * map-get($spacers, 3));
	background-color: $modal-content-bg;
}