@import "~bootswatch/dist/slate/variables";
@import "~bootstrap/scss/bootstrap";
@import "~bootswatch/dist/slate/bootswatch";

.btn-project > {
	img, div {
		height: calc(60px + $btn-padding-x);
		width: calc(120px + $btn-padding-y);
		@include border-radius($border-radius);
	}
	img {
		object-fit: cover;
	}
}

.btn-project {
	padding: 0 !important;
	&:not([disabled]):not(.disabled):hover > img,
	&:not([disabled]):not(.disabled):focus > img,
	&:not([disabled]):not(.disabled):active > img,
	&:not([disabled]):not(.disabled).active > img {
		mask-image: linear-gradient(transparent, $body-bg 40%);
		-webkit-mask-image: linear-gradient(transparent, $body-bg 40%);
		opacity: 50%;
	}
}

.tooltip-arrow {
    display: none !important;
}
