<turbo-frame id="pannel">

	<div class="row">

		{{ form(form) }}

		<p class="text-success">Français = success</p><br/>
		<p class="text-danger">English = error</p><br/>
		<p><br/>
		<p>Turbo-Frame: <span class='border p-1'>{{ app.request.headers.get('Turbo-Frame') ?? 'n/a' }}</span></p><br/>
		<p>Turbo-Stream-Replace: <span class='border p-1'>{{ app.request.headers.get('Turbo-Stream-Replace') ?? 'n/a' }}</span></p>
		
		<div class="d-flex justify-content-center">
			<button type="submit" form="form" class="btn btn-primary btn-width m-1">{% trans %}Create{% endtrans %}</button>
		</div>
	</div>

</turbo-frame>