{% extends 'base.html.twig' %}

{% block title %}Hello TestController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Test page</h1>
    <br/>
    <p>Results :</p>
    {{ test }}
    <br/>
    <br/>
</div>

<div class="d-flex justify-content-center">
	<a type="button" class="btn btn-primary" href="{{ app.request.uri }}">Relancer</a>
</div>
{% endblock %}
