{% extends 'layout.html.twig' %}

{% block stylesheets %}
	{{ encore_entry_link_tags('engineering') }}
	{{ parent() }}
{% endblock %}

{% block title %}Test{% endblock %}

{% block navbar %}

{% endblock %}

{% block main %}

<div class="d-flex justify-content-center">
	{{ text }}
</div>





{% endblock %}
