{% extends 'base.html.twig' %}

{% block title %}Hello TestController!{% endblock %}

{% block content %}

<div>
	<h1>Test page</h1>
	
	{% set items = {} %}
	{% set i = 1 %}

	{% for d in dates %}
		{% set items = items|merge({
			('Name'~i): d.name,
			('Is required'~i): d.isRequired,
			('Date created'~i): d.date,
			('Date created meta'~i): d.getPropertyValue('version.date'),
			('Français'~i): d.getPropertyValue('version.frenchMandatory'),
			('Date published'~i): d.getPropertyValue('version.dateTransmitted'),
			(i): '-------------------------------',
		}) %}
		{% set i = i+1 %}
	{% endfor %}


	{% for key, item in items %}

		<p>{{ key }} :
			{% if item is not null %}
				{% if item.timezone is defined %}
					[Object]
				{% else %}
					{{ item }}
				{% endif %}
			{% endif %}
		</p>

	{% endfor %}

</div>



{% endblock %}
