{% extends 'layout.html.twig' %}

{% block stylesheets %}
	{{ encore_entry_link_tags('engineering') }}
	{{ parent() }}
{% endblock %}

{% block title %}Test{% endblock %}

{% block navbar %}

{% endblock %}

{% block main %}

<div class="d-flex justify-content-center" data-turbo="false">
	
	{% if form is defined %}
		{{ form(form) }}
	{% endif %}
</div>
<div class="d-flex justify-content-center">
	{% if test is defined %}
		<pre>
			{{ dump(test) }}
		</pre>
	{% endif %}
</div>
	






{% endblock %}
