{% extends 'base.html.twig' %}

{% block title %}Hello TestController!{% endblock %}

{% block content %}

<div>
	<h1>Test page</h1>
	
	<div class="d-flex justify-content-center">
		<a type="button" class="btn btn-primary" href="{{ path('test') }}">Reset</a>
		<a type="button" class="btn btn-primary" href="{{ path('f2') }}" data-turbo-frame="f2">Lien 2</a>
	</div>

	<turbo-frame id="f1">Frame 1</turbo-frame><br/><br/>
	<turbo-frame id="f2">Frame 2
		
	</turbo-frame><br/><br/>
	<turbo-frame id="f3">Frame 3</turbo-frame>

</div>

{% endblock %}
