<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{{ app_name }}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
    </head>
    <body>
        <div class="container-fluid pt-5 px-1">
            {{ block('body') }}
		</div>
        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
	</body>
</html>
