<turbo-frame id="project_pannel">

	<div class="row row-cols-auto">
		{% for company in companies %}
			<div class="col pt-3">
				<div class="card card-width">
					<div class="card-header">{{ company.name }}</div>
					<div class="card-body">
						<a class="btn btn-engineering" href="{{ path('series_list_by_company', {'project': project.id, 'company': company.id}) }}" target="_top" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-original-title="{% trans %}Engineering{% endtrans %}">
							<img src="{{ asset('icons/engineering.svg') }}" alt="{% trans %}Egnineering{% endtrans %}">
						</a>
					</div>
				</div>
			</div>
		{% else %}
			<div class="col">{% trans %}Empty list{% endtrans %}</div>
		{% endfor %}

	</div>

</turbo-frame>