{% for label, messages in app.flashes %}
	{% for message in messages %}
		<div class="row justify-content-center">
			<div class="alert alert-{{ label }} col-5">   
				{{ message }}.
			</div>
		</div>
	{% endfor %}
{% endfor %}