{% form_theme form 'generic/layout.html.twig' %}

{% block stylesheets %}
	{{ encore_entry_link_tags('form') }}
{% endblock %}

<turbo-frame id="account_detail">

	<div class="row px-md-5 mt-3">
		<div class="col-md-10">
			{% for label, messages in app.flashes %}
				{% for message in messages %}
					<div class="alert alert-{{ label }} w-100">{{ message|trans }}.</div>
				{% endfor %}
			{% endfor %}
		</div>
	</div>
	<div class="row px-md-5 mt-3">
		<div class="col-md-10">
			{{ form(form) }}
		</div>
		<div class="row justify-content-center mt-5">
			<div class="col-md-auto">
				<button type="submit" form="form" class="btn btn-primary px-md-5 w-100">{% trans %}Save{% endtrans %}</button>
			</div>
		</div>
	</div>
</turbo-frame>
