<div class="row justify-content-md-center">
	<button id="launch" type="submit" class="btn btn-primary w-25 m-1" data-toggle="ajax" data-url="{{ path('automation_launch', app.request.query.all|merge({'id': automation.id})) }}" data-target="#output">{% trans %}Lancer l'import{% endtrans %}</button>
</div>

<div class="card mt-5">
    <div class="card-body">
    	<h5 class="card-title">Opération terminée !</h5>
        <p class="card-text">Merci de vérifier le fichier avant import au lien ci-dessous</p>
        <p class="text-center">
        	<a href="{{ asset(upload_url) }}" class="btn btn-primary">Lien de téléchargement</a>
        </p>
    </div>
</div>