{% form_theme form 'ajax/layout.html.twig' %}

{{ form(form) }}

<div class="d-flex justify-content-center">
	<button type="submit" form="form_ajax" class="btn btn-primary w-25" data-toggle="ajax" data-url="{{ app.request.uri }}" data-target="#output">Lancer</button>
</div>