{% set title = 'Edit element' %}

{% extends 'modal/xl_modal.html.twig' %}
{% import "macros/_nav.html.twig" as nav %}

{% set serie_ids = app.request.get('series') %}
{% set version_ids = app.request.get('versions') %}
{% set items = [] %}

{% set items = items|merge([
	{
		'name': "Serie",
		'href': path('serieEdit', {'project': project.id, 'series': serie_ids, 'versions': version_ids }),
		'data-turbo-stream-replace': 'edit_pannel',
	}
]) %}	

{% if version_ids is iterable and version_ids|length > 0 %}
	{% set items = items|merge([
		{
			'name': "Document",
			'href': path('documentEdit', {'project': project.id, 'series': serie_ids, 'versions': version_ids}),
			'data-turbo-stream-replace': 'edit_pannel',
		}
	]) %}
	
	{% set items = items|merge([
		{
			'name': "Version",
			'href': path('versionEdit', {'project': project.id, 'versions': version_ids}),
			'data-turbo-stream-replace': 'edit_pannel',
		}
	]) %}	
{% endif %}

{% block modal_body %}

	{% if serie_ids is iterable and serie_ids|length > 0 %}
		<div class="row justify-content-center">
			<p>{% trans %}Select one or more lines first.{% endtrans %}</p>
		</div>
	{% else %}
		{{ nav.turbo('edit_pannel', items|map(item => (item == items|last)?item|merge({'class': 'active'}):item), true) }}
	{% endif %}
	
{% endblock %}

{% block modal_footer %}

	{% if items|length == 0 %}
		{{ parent() }}
	{% else %}
		<button type="button" class="btn btn-secondary btn-width" data-bs-dismiss="modal">{% trans %}Cancel{% endtrans %}</button>
		<button type="submit" form="form" class="btn btn-primary btn-width">{% trans %}Save{% endtrans %}</button>
	{% endif %}

{% endblock %}


