{% set title = 'New element' %}

{% extends 'modal/xl_modal.html.twig' %}
{% import "macros/_nav.html.twig" as nav %}

{% set items = [] %}
	
{% set items = items|merge([
	{
		'name': "Serie",
		'href': path('serieNew', {'project': project.id}|merge(app.request.query.all)),
		'data-turbo-stream-replace': 'new_pannel',
	}
]) %}

{% set items = items|merge([
	{
		'name': "Document",
		'href': path('documentNew', {'project': project.id}|merge(app.request.query.all)),
		'data-turbo-stream-replace': 'new_pannel',
	}
]) %}

{% if app.request.query.has('versions') %}
	{% set items = items|merge([
		{
			'name': "Version",
			'href': path('versionNew', {'project': project.id}|merge(app.request.query.all)),
			'data-turbo-stream-replace': 'new_pannel',
		}
	]) %}
{% endif %}

{% block modal_body %}
	{% if app.request.query.has('series') is same as(false) %}
		<div class="row justify-content-center">
			<p>{% trans %}Select one or more lines first.{% endtrans %}</p>
		</div>
	{% else %}
		{{ nav.turbo('new_pannel', items|map(item => (item == items|last)?item|merge({'class': 'active'}):item), true) }}
	{% endif %}

{% endblock %}

{% block modal_footer %}
	
	<button type="button" class="btn btn-secondary btn-width" data-bs-dismiss="modal">{% trans %}Cancel{% endtrans %}</button>
	<button type="submit" form="form" class="btn btn-primary btn-width">{% trans %}Save{% endtrans %}</button>

{% endblock %}
