{% extends 'layout.html.twig' %}
{% import "macros/_nav.html.twig" as nav %}

{% block stylesheets %}
	{{ encore_entry_link_tags('project') }}
	{{ parent() }}
{% endblock %}

{% block navbar %}
	{{ include('navbar/_project.html.twig') }}
{% endblock %}

{% block content %}
<div class="container-lg">
	{% set items = [
		{
			'name': "Companies"|trans,
			'href': path('project_pannel', {'project': project.id, 'type': 'sdr'}),
			'class': 'active'
		},
		{
			'name': "Main contractors"|trans,
			'href': path('project_pannel', {'project': project.id, 'type': 'mdr'}),
		}
	] %}
	{{ nav.turbo('project_tab', items) }}
</div>
{% endblock %}