{% extends 'layout.html.twig' %}
{% import "macros/_nav.html.twig" as nav %}

{% block stylesheets %}
	{{ encore_entry_link_tags('main') }}
	{{ parent() }}
{% endblock %}

{% block navbar %}
	{{ include('navbar/_main.html.twig') }}
{% endblock %}

{% block main %}
	<div class="container-lg">
		{% set items = [
			{
				'name': "Main"|trans,
				'href': path('personal'),
				'class': 'active'
			},
			{
				'name': "Change password"|trans,
				'href': path('change_password'),
			}
		] %}
		{{ nav.turbo('account_pannel', items) }}
	</div>
{% endblock %}
